#page-wrap {
    width: 100%;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

/*** canvas ***/

#canvas {
    height: 100vh;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}

.curtain {
    position: absolute;
    top: -5%;
    right: -5%;
    bottom: -5%;
    left: -5%;
}

.curtain img {
    display: none;
}

/*** handling errors ***/

.no-curtains .curtain {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-curtains .curtain img {
    display: block;
    object-fit: cover;
}

/*Global Elemnents*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Config';
    src: url('fonts/ConfigAlt-Bold.woff2') format('woff2'),
        url('fonts/ConfigAlt-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Config';
    src: url('fonts/ConfigAlt-Black.woff2') format('woff2'),
        url('fonts/ConfigAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


html, body {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

}
body {
    font-family: 'Config', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    background: #eee;
}

.container {
  position: relative;
  margin: 0 120px;
  z-index: 2;
  pointer-events: none;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

h1 {
  position: absolute;
  top: 120px;
  font-weight: 600;
  font-size: 24px;
}

/*Main Content*/

.content {
  max-width: 640px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content p:first-child {
  margin-bottom: 68px;
}

p {
    font-size: 90px;
    font-weight: 900;
    line-height: .9;
}

/*Footer */

footer {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding: 20px;
}

a:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

ul {
    list-style: none;
    width: 100%;
    margin-left: -20px;
}

ul li {
  display: inline-block;
  margin-right: 8%;
  pointer-events: auto;
}

ul li:last-child {
  margin-right: 0%;
}


/*Tablet*/
@media (max-width: 1130px){
 .container {
  margin: 0 40px;
 }
 ul li {
  margin-right: 6%;
 }
}

@media (max-width: 900px){
  .content {
    top: 40%;
  }
  p {
    font-size: 70px;
  }

  footer ul li {
    float: none;
    width: 100%;
    line-height: 1.6;
  }
}

/*Mobile*/
@media (max-width: 600px){
  h1 {
    top: 60px;
  }
  p {
    font-size: 40px;
  }
  footer {
    bottom: 40px;
  }
  ul {
    margin-left: -10px;
  }
  a {
    padding: 10px;
  }
}


/*Small Height*/
@media (max-height: 712px){
  .container {
    padding-top: 40px;
    padding-bottom: 30px;
    height: auto;
  }
  h1 {
    position: static;
  }
  .content {
    position: static;
    margin: 50px 0;
    top: none;
    transform: none;
  }
  footer {
    position: static;
  }
}